<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li><a href="https://www.linkedin.com/in/ram-prasath3011/" style="color: #69f0ae;"><i
          class='bx bxl-linkedin'></i></a></li>
    <li><a href="https://www.instagram.com/r__a__m__30/" style="color: #69f0ae;"><i class='bx bxl-instagram'></i></a>
    </li>
  </ul>

  <ul class="contact-info">
    <li><i class='bx bx-mobile' style="color: #69f0ae;"></i> 6374733155</li>
    <li><i class='bx bxl-gmail' style="color: #69f0ae;"></i> ramprasath301199@gmail.com</li>
  </ul>
</div>
