<baner data-aos="zoom-in-right" data-aos-duration="2000" responsive></baner>
<personal-information data-aos="fade-right" data-aos-duration="2000" responsive></personal-information>
<div class="container" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
  <education responsive></education>
  <work-experience responsive></work-experience>
</div>
<skills data-aos="fade-zoom-in" data-aos-duration="3000" responsive>
</skills>
<div class="container" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
  <projects responsive></projects>
  <personal-projects responsive></personal-projects>
</div>
<contact responsive></contact>
